
<div class="app-body">
    <main class="main ml-3 d-flex align-items-center">
      <div class="container ">
        <div class="row mr-3 ">
          <div class="col-md-12   ">
            <div class="card mx-4 " >
              <div class="card-body p-4">
                <!-- <form (ngSubmit)="onSubmit()" > -->
                  <h1>Add Project</h1>
                  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" name="title" [(ngModel)]="project.title" class="form-control" placeholder="Project Title" autocomplete="lab title" required>
                  </div>
                  
                    <quill-editor class="content-editor" [(ngModel)]="project.description" [modules]="quillConfiguration" [placeholder]="'Project Description'"  > </quill-editor>
                  
                    <quill-editor class="content-editor" [(ngModel)]="project.solution" [modules]="quillConfiguration" [placeholder]="'Project Solution'"> </quill-editor>
                 
                  

                  <!-- <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    
                    <textarea class=" form-control z-depth-1"  id="" cols="46" rows="10" placeholder="Project Description" required  ></textarea>
                  </div> -->


                <!-- </form> -->
              </div>
              <div class="card-footer p-4">
                <div class="row">
                    <button type="button" class="btn btn-block btn-success" (click)= "save()">Add Project</button>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  