
<section class="hero is-white ">
    <div class="hero-body">
        <div class="columns is-vcentered reverse-columns">
            <div data-aos="fade-right" class="
          column
          is-10-mobile
          is-offset-1-mobile
          is-10-tablet
          is-offset-1-tablet
          is-5-desktop
          is-offset-1-desktop
          is-5-widescreen
          is-offset-1-widescreen
          is-5-fullhd
          is-offset-1-fullhd
        ">
                <h1 class="title titled ">
                 <span class="text-color1">Seven Engine Labs</span>    <br /><span class="text-color">The best place to build, test, and discover code.</span> 
                </h1>
                <p class="subtitle subtitled">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum cupiditate dolorum vitae dolores nesciunt totam magni quas.
                </p>
                <div class="buttons">
                    <button class="button is-medium is-primary">Learn more </button>
                    <button class="button is-medium text-color2">Talk to sale</button>
                </div>
              
            </div>
            <div data-aos="fade-down" class="
          column
          is-10-mobile
          is-offset-1-mobile
          is-10-tablet
          is-offset-1-tablet
          is-4-desktop
          is-offset-1-desktop
          is-4-widescreen
          is-offset-1-widescreen
          is-4-fullhd
          is-offset-1-fullhd
        " data-aos="fade-up">
                <figure class="image is-square">
                    <img src="../../../assets/images-frontend/images/main_img.svg" />
                </figure>
            </div>
        </div>
    </div>
</section>

<!-- section2  -->

<section class="hero  has-text-centered section2">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div data-aos="zoom-in-up" class="column is-8">
                    <h1 class="title titled is-1 mb-6">
                        Feature of Seven Labs<span id="typewriter"></span>
                    </h1>
                    <p class="subtitle subtitled">
                        Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs.
                    </p>
                </div>
            </div>

            <div class="columns features">
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <img src="../../../assets/images-frontend/images/ux.jpeg" alt="" style="width: 100px; padding: 20px" />
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Tristique senectus et netus et.</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore animi labore architecto tempore aliquam fugiat numquam, pariatur explicabo enim accusantium harum illum, cupiditate corrupti dolores alias molestiae quisquam, reprehenderit atque!
                                </p>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <img src="../../../assets/images-frontend/images/ux.jpeg" alt="" style="width: 100px; padding: 20px" />
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Tempor orci dapibus ultrices in.</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint deserunt asperiores et animi vel quod doloremque accusantium qui tenetur aliquid fugit, nostrum distinctio quas libero quis maiores, placeat sequi numquam.
                                </p>
                                <p><a href="#">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <img src="../../../assets/images-frontend/images/ux.jpeg" alt="" style="width: 100px; padding: 20px" />
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Leo integer malesuada nunc vel risus.</h4>
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto repudiandae ipsa accusamus omnis autem cumque voluptatibus provident aspernatur soluta reiciendis adipisci praesentium impedit perferendis dolorum quibusdam, aliquam libero error sequi!
                                </p>
                                <p><a href="#">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section3 -->

<section class="hero has-text-centered section3">
    <div class="hero-body ">
        <div class="container">
            <div class="columns is-centered">
                <div  class="column is-8 change">
                    <h3 class="title titled is-1 ">
                        What are you looking for?
                    </h3>
                    <h2 class="subtitle subtitled">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum earum, quod beatae praesentium eveniet pariatur non. Deleniti, et dolorem repellendus ea, harum ratione enim accusamus id blanditiis quaerat repudiandae laborum?
                    </h2>
                </div>
            </div>

            <div class="row columns is-multiline features">
                <div class="column is-4">
                    <div class="card  is-shady">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="../../../assets/images-frontend/images/ux.jpeg" alt="Image" />
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Seven Labs</p>
                                    <p>
                                        <span class="title is-6"> <a> Author </a> </span>
                                    </p>
                                    <p class="subtitle is-6">Hello</p>
                                </div>
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga,
                                <div class="background-icon">
                                    <span class="icon-twitter"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-center">
                                    <figure class="image is-48x48">
                                        <img src="../../../assets/images-frontend/images/ux.jpeg" alt="Image" />
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Seven Labs</p>
                                    <p>
                                        <span class="title is-6"> <a> Author </a> </span>
                                    </p>
                                    <p class="subtitle is-6">Hello</p>
                                </div>
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga,
                                <div class="background-icon">
                                    <span class="icon-twitter"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card large is-shady">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="../../../assets/images-frontend/images/ux.jpeg" alt="Image" />
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Seven Labs</p>
                                    <p>
                                        <span class="title is-6"> <a> Author </a> </span>
                                    </p>
                                    <p class="subtitle is-6">Hello</p>
                                </div>
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga,
                                <div class="background-icon">
                                    <span class="icon-twitter"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="../../../assets/images-frontend/images/ux.jpeg" alt="Image" />
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Seven Labs</p>
                                    <p>
                                        <span class="title is-6"> <a> Author </a> </span>
                                    </p>
                                    <p class="subtitle is-6">Hello</p>
                                </div>
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga,
                                <div class="background-icon">
                                    <span class="icon-twitter"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="../../../assets/images-frontend/images/ux.jpeg" alt="Image" />
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Seven Labs</p>
                                    <p>
                                        <span class="title is-6"> <a> Author </a> </span>
                                    </p>
                                    <p class="subtitle is-6">Hello</p>
                                </div>
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga,
                                <div class="background-icon">
                                    <span class="icon-twitter"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="../../../assets/images-frontend/images/ux.jpeg" alt="Image" />
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Seven Labs</p>
                                    <p>
                                        <span class="title is-6"> <a> Author </a> </span>
                                    </p>
                                    <p class="subtitle is-6">Hello</p>
                                </div>
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga,
                                <div class="background-icon">
                                    <span class="icon-twitter"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- section4 -->

<section class="hero has-text-centered section4  ">
    <div class="hero-body">
        <div class="container mt-5">
            <div class="columns is-centered">
                <div  class="column is-8 change">
                    <p class="title titled is-1 mb-6">
                        Ready to dive in?
                    </p>
                    <p class="subtitle subtitled">
                        Start learning today. 
                    </p>
            
                        <button class="button is-medium is-primary" [routerLink]="['/signup']">Get Started </button>
                        <button class="button is-medium text-color2">Explore Labs </button>
                    </div>
                </div>
                
                
            </div>
            

        </div>
    
</section>

<!-- section5 -->
<section class="hero has-text-centered section5  ">
    <div class="hero-body">
        <div class="container mt-5">
            <div class="columns is-centered">
                <div  class="column is-8 change">
                    <h3 class="title titled is-1 mb-6">
                      The best place to learn programming
                    </h3>
                    <h2 class="subtitle subtitled">
                        With so much content and an incredibly helpful community, you can't go wrong with us. 
                    </h2>
            
                        
                    </div>
                </div>
                
                
            </div>
            

        </div>
    
</section>

<!-- contact session -->

<section class="hero contact-session">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable">
                <div class="column is-two-thirds has-text-left">
                    <h1 class="title is-1">Contact Us</h1>
                    <p class="is-size-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi soluta voluptate facere molestiae consequatur.
                    </p>
                    <div class="social-media">
                        <a href="https://facebook.com" target="_blank" class="button is-light is-large"><i class="fa fa-facebook-square" aria-hidden="true"></i
            ></a>
                        <a href="https://instagram.com" target="_blank" class="button is-light is-large"><i class="fa fa-instagram" aria-hidden="true"></i
            ></a>
                        <a href="https://twitter.com" target="_blank" class="button is-light is-large"><i class="fa fa-twitter" aria-hidden="true"></i
            ></a>
                    </div>
                </div>
                <div class="column is-one-third has-text-left">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input is-medium" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input is-medium" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                            <textarea class="textarea is-medium"></textarea>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="
                button
                is-link is-fullwidth
                has-text-weight-medium
                is-medium
                send
              ">
              Send Message
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>