
<div class="animated fadeIn">
  
  

  <div class="row ">
    <div class="col-sm-6 col-lg-6"  *ngFor="let lab of labs">
      <div class="card">
        <div class="card-header"><h4>{{ lab.title }} </h4></div>
        <div class="card-body">
          <h5 class="card-title">Description</h5>
          <div [innerHtml]= "lab.description" class="card-text">
           
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <a href="#" [routerLink]="['/labs']" routerLinkActive="router-link-active"  class="btn btn-primary">View</a>
            <a href="#" [routerLink]="['/parameters/edit-lab', lab._id ]" routerLinkActive="router-link-active"  class="btn btn-success ml-2">Update</a>
            <a href="#" routerLinkActive="router-link-active" (click)="delete(lab)"  class="btn btn-danger ml-2">Delete</a>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <!--/.card-->
  
  
</div>
